<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LastFM analyzer</title>
</head>
<body>
    <h3>LastFM analyzer</h3>
    <ul>
        <li><a href="/indices">Indices</a></li>
    </ul>

    <h4>LastFM index</h4>
    <ul>
        <li><a href="/admin/queues">Jobs</a></li>
        <li><a href="/create-lastfm-index">Create index</a></li>
        <li><a href="/delete-lastfm-index">Delete index</a></li>
        <li><a href="/reset-lastfm-index">Reset index</a></li>
        <li><a href="/populate-lastfm-index">Populate index</a></li>
    </ul>
</body>
</html>